<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @price.product_id %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @price.currency_id %>
</p>

<p>
  <strong>Ht:</strong>
  <%= @price.ht %>
</p>

<p>
  <strong>Ttc:</strong>
  <%= @price.ttc %>
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
