@import "colors";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap/scss/bootstrap";
@import "lightbox-bootstrap";
@import "products";

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: $light-grey;
}

.header {
  background-color: $grey;
  color: #FFF;
  text-align: center;
  height: 200px;
  padding-top: 50px;
  margin-bottom: 60px;
}

.header a {
  text-decoration: none;
  color: $white;
}

.header svg {
  height: 56px;
  display: block;
  width: calc(100% + 1.3px);
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.header-shape-fill {
  fill: $grey;
}

.footer {
  background-color: $grey;
  color: #FFF;
  text-align: center;
  padding-bottom: 50px;
  margin-top: 60px;
}

.footer svg {
  height: 56px;
  display: block;
  width: calc(100% + 1.3px);
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.footer-shape-fill {
  fill: $light-grey;
}

.footer a {
  text-decoration: none;
  color: $white;
}

.footer-menu {
  padding-top: 50px;
}

h1 {
  font-size: 5rem;
}

.subtitle {
  font-size: 1.5rem;
}

.btn-primary {
  background-color: $red-mithril;
  color: $white;
  border-color: $grey;
}

.btn-primary:hover {
  background-color: $grey;
  color: $white;
  border-color: $grey;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):focus {
  background-color: $grey;
  color: $white;
  border-color: $red-mithril;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled):focus {
  box-shadow: 0 0 0 0.2rem rgba(128, 0, 0, 1);
}

.badge-secondary {
  background-color: $grey;
}

.badge-secondary:hover {
  background-color: $red-mithril;
}

.badge-primary {
  background-color: $red-mithril
}

.badge-anim {
  transition: transform .3s;
}

.badge-anim:hover {
  transform: scale(1.2);
}

.link {
  color: $red-mithril;
}

.link:hover {
  color: $grey;
}