// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.product_frame {
  background-color: $white;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  min-height: 450px;
  h2 {
    font-size: 1.2rem;
    margin-top: 15px;
    margin-bottom: 30px;
  }
}

.product_image, .products_image {
  text-align: center;
}

.product_price{
  text-align: center;
  margin: 0px 100px 20px 100px;
  background-color: $red-mithril;
  color: $white;
  border-radius: 10px 10px 10px 10px;
  padding: 15px 0px 15px 0px;
  font-weight: 800;
}

.products_price{
  text-align: center;
  margin: 0px 20px 0px 20px;
  background-color: $red-mithril;
  color: $white;
  border-radius: 10px 10px 10px 10px;
  padding: 5px;
  font-weight: 600;
}

.page_title h2{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.products_frame {
  background-color: $white;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 35px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
  transition: transform .3s;
  height: 350px;
}

.products_frame:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transform: scale(1.1);
}

.products_infos {
  height: 150px;
  vertical-align: bottom;
}

.products_image {
  height: 200px;
}

.products_title {
  height: 80px;
  text-align: center;
  color: $grey;
}

.products_no_product {
  text-align: center;
}

a:hover {
  text-decoration: none;
}

.product_table {
  margin: 0px 100px 20px 100px;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.product_table_title {
  background-color: $grey;
  color: $white;
  width: 110px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.product_table_info {
  background-color: $light-grey;
  text-align: center;
  width: 100%;
}

th, td {
  padding: 10px;
}

.product_buy_group {
  padding: 0px 100px 0px 100px;
  .form-control {
    border-radius: 10px;
  }
}

.product_buy_span {
  padding: 0;
  border: none;
}

.product_buy {
  border-radius: 0 10px 10px 0;
}

.badge-category {
  margin: 2px;
}

.products_categories {
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
}

.product_image_miniature {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-left: 30px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
  transition: transform .3s;
  height: 100px;
  width: 100px;
  padding: 5px;
}

.product_image_miniature:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transform: scale(1.1);
}