<div class="container">

  <div class='row products_categories'>
    <% Category.order(:title).each do |category| %>
      <%= link_to category do %>
        <% classe = @category && @category.id == category.id ? 'badge-primary' : 'badge-secondary badge-anim' %>
        <div><span class="badge badge-pill badge-category <%= classe %>"><%= category.title %></span></div>
      <% end %>
    <% end %>
  </div>

  <p id="notice"><%= notice %></p>

  <div class="row">
    <% if @products.count == 0 %>
      <div class='col-md-12 products_no_product'>Aucun produit dans cette catégorie pour le moment ...</div>
    <% end %>
    <% @products.each do |product| %>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <%= link_to product do %>
          <div class="products_frame">
            <div class='products_image'>
              <% if product.images.attached? %>
                <%= image_tag product.images.first.variant(resize_to_limit: [200, 200]) %>
              <% else %>
                <%= image_tag 'no_image', size: '200x200' %>
              <% end %>
            </div>
            <div class="products_infos">
              <div class='products_title'><%= product.title.length>60 ? "#{product.title[0..60]}..." : product.title %></div>
              <div class="products_price">
                <% price = product.price_ml %>
                <%= number_to_currency(price.ttc, unit: price.currency.symbol, locale: :fr) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
