<div class="container">

  <p id="notice"><%= notice %></p>
  
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <div class="product_frame">
        <div class='product_image'>
          <% if @product.images.attached? %>
            <%= link_to url_for(@product.images.first), 'data-toggle': 'lightbox' do %>
              <%= image_tag @product.images.first.variant(resize_to_limit: [400, 400]) %>
            <% end %>
          <% else %>
            <%= image_tag 'no_image', size: "400x400" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-6">
      <div class="product_frame">

        <%= link_to @product.category do %>
          <div><span class="badge badge-pill badge-secondary"><%= @product.category.title %></span></div>
        <% end %>

        <h2>
          <%= @product.title.length>80 ? "#{@product.title[0..80]}..." : @product.title %>
        </h2>

        <table class='product_table'>
          <tr>
            <td class='product_table_title'>
              <%= icon :fas, 'box-open' %>
              <strong>Etat</strong>
            </td>
            <td class='product_table_info'>
              <%= @product.second_hand ? 'Matériel d\'occasion' : 'Matériel neuf' %>
            </td>
          </tr>
          <tr>
            <td class='product_table_title'>
              <%= icon :fas, 'tag' %>
              <strong>Référence</strong>
            </td>
            <td class='product_table_info'>
              <%= @product.ref %>
            </td>
          </tr>
          <tr>
            <td class='product_table_title'>
              <%= icon :fas, 'cubes' %>
              <strong>Stock</strong>
            </td>
            <td class='product_table_info'>
              <%= @product.stock %> unité(s)
            </td>
          </tr>
        </table>

        <div class="product_price ">
          <% price = @product.price_ml %>
          <%= number_to_currency(price.ttc, unit: price.currency.symbol, locale: :fr) %>
        </div>

        <%= form_tag do %>
          <div class="input-group mb-3 product_buy_group">
            <%= number_field_tag 'quantity', 1 , class: 'form-control product_quantity', min: @product.stock.to_i>0 ? 1 : 0, max: @product.stock %>
            <div class="input-group-append">
              <span class="input-group-text product_buy_span" id="basic-addon2">
                <%= button_tag class: 'btn btn-primary product_buy' do %>
                  <%= icon :fas, 'shopping-basket' %>
                  Acheter
                <% end %>
              </span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="product_frame">
    <p>
      <h3>Description</h3>
      <%= @product.long_description.html_safe %>
    </p>

    <% if @product.weight %>
    <p>
      <strong>Poids:</strong>
      <%= @product.weight %>
    </p>
    <% end %>

    <% if @product.dimensions %>
    <p>
      <strong>Dimensions:</strong>
      <%= @product.dimensions %>
    </p>
    <% end %>

    <% if @product.url %>
    <p>
      <strong>Site du constructeur :  </strong>
      <%= link_to @product.url, @product.url, target: '_blank', class: 'link' %>
    </p>
    <% end %>

    <% if @product.images.count>1 %>
      <h3>Gallerie</h3>
      <div class="row">
        <% @product.images.each do |image| %>
          <div class="product_image_miniature">
            <%= link_to url_for(image), 'data-toggle': 'lightbox' do %>
              <%= image_tag image.variant(resize_to_limit: [90, 90]) %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <p>
      <strong>Dolibarr ID:</strong>
      <%= @product.dolibarr_id %>
    </p>
  </div>
</div>